phpunit.xml
vendor
clover.xml
.php_cs.cache
.phpunit.result.cache
.coverage
coverage.xml
.php-cs-fixer.cache
# Used for the schnorr signature hack, remove once a php version is implemented
scripts/node_modules
