name: Test

on:
    push:
        branches:
            - "master"
            - "develop"
    pull_request:
        types: [ready_for_review, synchronize, opened]

jobs:
    unit:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v1

            - name: Install schnorr workaround script dependencies
              run: npm --prefix ./scripts/ install

            - name: Install
              run: composer update --no-interaction --no-suggest --ignore-platform-reqs

            - name: Unit tests
              run: composer test
